<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
    <!--<urlMappings enabled="true">
      <add url="~/qmDefault.aspx" mappedUrl="~/ashx/Res/AddRes.ashx"/>
    </urlMappings>-->
	</system.web>
  <appSettings>
    <add key="IP" value="172.17.200.18" />
    <add key="port" value="1664" />
    <add key="freshInterval" value="60" />
  </appSettings>
</configuration>
